@import './settings.scss';

.cards-container {
  display: grid;
  gap: 10px;
  justify-content: center;

  a {
    text-decoration: none;
  }
}
.card-container {
  max-width: 330px;
  min-height: 330px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  color: $grey-color;
  @include shadow;

  img {
    max-width: 100%;
  }
  .card-container__body {
    padding: 15px;
    font-size: 1em;
    width: 75%;
    float: left;
  }
  .card-container__price {
    background-color: $green-color;
    color: white;
    width: 25%;
    float: left;
    font-size: 2em;
    position: relative;
    margin-top: 30px;
    border-radius: 15px 0px 0px 15px;

    .card-container__price__price-text {
      margin: 5px;
    }
  }
}
.button-primary {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  background-color: $primary-color;
}

.info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin-top: 10px;

  .info__button {
    margin: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
}

.game-details-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  min-width: 400px;
  max-width: 90vw;
  padding: 10px;
  @include shadow;

  .game-details__image-container {
    padding: 10px;
  }
  .game-details__body {
    padding: 15px;
    text-align: justify;
    margin: 10px;
    .game-details__price__button {
      background-color: $primary-color;
      margin-top: 10px;
      padding: 10px;
    }

    .game-details__price {
      background-color: $primary-color;

      text-align: center;

      .game-details__price-text {
        color: white;
      }
    }

    h4 {
      margin-top: 5px;
    }
  }
}

.game-comments {
  display: block;
  margin: 20px;
  width: 90vw;
  padding: 10px;
  border-radius: 10px;
  @include shadow;

  .game-comments__title {
    margin: 10px;
    text-align: center;
  }

  .comment-container {
    padding: 10px;
    margin: 10px;
  }
}
