.mainpage-container {
  flex-grow: 1;
}
.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;

  .title-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
  }
}
.main-info {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.main-info__img {
  margin: 0px 40px;
  min-width: 200px;
  max-width: 550px;
  height: 100%;
}
