@import './settings.scss';

.navbar__logo {
  width: 50px;
  height: 50px;
  margin: 0px 5px 0px 15px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  @include shadow;
  .navbar__title {
    cursor: pointer;
    color: white;
    padding: 10px;
  }
  .navbar__title--position {
    text-align: end;
  }
}
