$ligth-color: #f4f4f4;
$grey-color: #555;
$grey-ligth-color: #999797;
$red-color: rgb(212, 89, 89);
$green-color: rgb(89, 212, 138);
$primary-color: rgb(89, 118, 212);
$almost-white: #f3f3f3;

@mixin shadow {
  -webkit-box-shadow: -4px 8px 75px -20px rgba(77, 69, 77, 1);
  -moz-box-shadow: -4px 8px 75px -20px rgba(77, 69, 77, 1);
  box-shadow: -4px 8px 75px -20px rgba(77, 69, 77, 1);
}

@mixin loader {
  .loading-container {
    display: flex;
    justify-content: center;

    .loading {
      border: 5px solid $almost-white;
      animation: spin 1s linear infinite;
      border-top: 5px solid $grey-color;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
